{% load staticfiles %}
<!doctype html>
<html lang="en">
<head>
  <title>Bible Social Network</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{% static 'BibleSocialNetwork/css/styles.css' %}">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <a class="navbar-brand" href="{% url 'index' %}">BSN</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'index' %}">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'graph' %}">Graph w/ data</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'rankings' %}">Rankings</a>
      </li>
        <li class="nav-item">
        <a class="nav-link" href="{% url 'graphtest' %}">New Graph</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>

<div class="container" style="margin-top:80px">
    <h1>Bible Social Network Visualization</h1>
    <h2>This website features an interactive social network visualization of all of the connections between people in the Bible. It's easy to see direct connections between characters in the Bible, but it's not easy to see distant connections between the people of the Biblical times. </h2>
    <a href="{% url 'graph' %}"><button class="button">See the Network Visualization</button></a>
    <a href="{% url 'rankings' %}"><button class="button">See a Ranking of People (Based on # of Connections)</button></a>
</div>

</body>
</html>